{% extends 'base.html' %}
{% block title %}Удалить все выполненные задачи{% endblock %}
{% block content %}
    <h2>Вы уверены, что хотите удалить все выполненные задачи?</h2>
    {% for task in task %}
<br>
<br>
<table>
        <thead>
        <tr>
            <th>Задача</th>
            <th>Готовность</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ task.name }}</td>
            <td>{% if task.status == 'done' %}Выполнено{% endif %}</td>

        </tr>
        </tbody>
    </table>
    {% endfor %}

    <form action="{% url 'done_task_delete' %}" method="post">
        {% csrf_token %}
        <br>
        <br>
        <input type="radio" value="yes" name="delete"> Да <input type="radio" value="no" checked name="delete"> Нет
        <br>
        <br>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}
